body { 
	background-color:white;
}
		
#side {
	background-color: #3F87D8;
	width: 230px; 
	height: 100%; 
	position: fixed; 
	float:left;
	padding: 20px;
	margin-top:-10px;
	left: 0px;
}
		
#side .description {
	background-color: white;
	color: black; 
	font-size: 12px;  
	width: 218px; 
	padding: 5px;
	text-align: center;
	border-radius: 10px;
} 
		
#side .links {
	background-color: white; 
	color: black; 
	font-size: 12px; 
	font-family: "Casual Affair"; 
	text-align: center; 
	margin: 2px;
	border-radius: 10px;
}
		
#main {
	font-family: "Calibri";
	background-color: white;
	padding-left: 280px;
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
}
		
#main .title {
	font-family: "Casual Affair"; 
	font-size: 30px;
	text-align: center; 
	padding: 10px;
}
		
a:link{ 
	text-decoration: none;
}
		
#side .links:hover {
	background-color: white;
}
